# No whitespace after the comma or in your part name!
config SHIELD_SKREECUSTOM_LEFT
    def_bool $(shields_list_contains,skreecustom_left)

# No whitespace after the comma or in your part name!
config SHIELD_SKREECUSTOM_RIGHT
    def_bool $(shields_list_contains,skreecustom_right)

# No whitespace after the comma or in your part name!
config SHIELD_SKREECUSTOM_DONGLE
    def_bool $(shields_list_contains,skreecustom_dongle)